/* ==================================
 WallpaperHub Theme Clean
================================== */


/* Light */

body{

    background:#ffffff;
    color:#111;

    transition:.3s;

}



/* =================
 Dark Mode
================= */


body.dark{

    background:#0b0b0b;
    color:#fff;

}



/* الحاويات */

body.dark main,
body.dark section,
body.dark header,
body.dark .container,
body.dark .card,
body.dark .settings-card,
body.dark .info-card,
body.dark .profile-cover,
body.dark .bottom-nav{

    background:#111;

    color:#fff;

    border-color:#222;

}



/* النصوص فقط */

body.dark h1,
body.dark h2,
body.dark h3,
body.dark h4,
body.dark p,
body.dark label{

    color:#fff;

}



/* الأزرار */

body.dark button{

    background:#181818;

    color:#fff;

    border:1px solid #333;

}



/* Inputs */

body.dark input,
body.dark textarea,
body.dark select{

    background:#111;

    color:#fff;

    border:1px solid #333;

}



/* الصور */

body.dark img{

    background:transparent;

}



/* bottom nav */

body.dark .bottom-nav{

    background:#111;

    border-top:1px solid #333;

}



/* أيقونات */

body.dark .material-icons{

    color:#fff;

}