/* =================================
   Simple Premium White Sidebar
================================= */


.drawer-overlay{

    position:fixed;
    inset:0;

    background:rgba(0,0,0,.25);

    opacity:0;
    visibility:hidden;

    transition:.3s;

    z-index:9998;

}


.drawer-overlay.show{

    opacity:1;
    visibility:visible;

}




.side-drawer{

    position:fixed;

    top:0;
    right:0;

    width:300px;

    max-width:85%;

    height:100%;


    background:#ffffff;


    box-shadow:
    -8px 0 30px rgba(0,0,0,.12);


    transform:translateX(100%);


    transition:.35s ease;


    z-index:9999;


    overflow:auto;


}



.side-drawer.show{

    transform:translateX(0);

}



/* Header */

.drawer-header{


    padding:35px 20px 25px;


    text-align:center;


    background:#fff;


    border-bottom:

    1px solid #eee;


}




.drawer-header img{


    width:70px;

    height:70px;


    border-radius:50%;


    object-fit:cover;


    border:

    1px solid #eee;


}




.drawer-header h3{


    margin-top:12px;


    font-size:18px;


    font-weight:500;


    color:#222;


}




#drawerClose{


    position:absolute;


    top:15px;


    left:15px;


    font-size:14px;


    color:#777;


    cursor:pointer;


}




/* Menu */


.drawer-menu{


    padding:15px;


}



.drawer-menu a{


    display:flex;


    align-items:center;


    justify-content:flex-start;


    gap:12px;


    padding:15px 12px;


    margin-bottom:5px;


    color:#333;


    text-decoration:none;


    font-size:15px;


    font-weight:400;


    border-radius:12px;


    transition:.25s;


}



.drawer-menu a:hover{


    background:#f5f6ff;


    color:#5865f2;


}




.drawer-menu hr{


    border:none;


    height:1px;


    background:#eee;


    margin:12px 5px;


}




/* menu button */

.menu-btn{


    background:none;

    border:0;

}



.menu-btn span{


    width:22px;

    height:2px;


    background:#222;


    display:block;


    margin:5px;


    transition:.3s;


}




.menu-btn.active span:nth-child(1){

    transform:translateY(7px) rotate(45deg);

}


.menu-btn.active span:nth-child(2){

    opacity:0;

}


.menu-btn.active span:nth-child(3){

    transform:translateY(-7px) rotate(-45deg);

}