<!-- Bottom Navigation -->

<nav class="bottom-nav">

<div class="nav-item" data-page="home.html">

<span class="material-icons">home</span>

<p>الرئيسية</p>

</div>


<div class="nav-item" data-page="categories.html">

<span class="material-icons">grid_view</span>

<p>الأقسام</p>

</div>


<div class="nav-item" data-page="favorites.html">

<span class="material-icons">favorite</span>

<p>المفضلة</p>

</div>


<div class="nav-item" data-page="profile.html">

<span class="material-icons">person</span>

<p>حسابي</p>

</div>


</nav>