<section class="categories">

<h3>الأقسام</h3>

<div class="category-list">

<div class="category" data-category="all">
🌍
<p>الكل</p>
</div>

<div class="category" data-category="nature">
🌿
<p>الطبيعة</p>
</div>

<div class="category" data-category="cars">
🚗
<p>السيارات</p>
</div>

<div class="category" data-category="games">
🎮
<p>الألعاب</p>
</div>

<div class="category" data-category="space">
🌌
<p>الفضاء</p>
</div>

<div class="category" data-category="ai">
🤖
<p>الذكاء</p>
</div>

<div class="category" data-category="amoled">
📱
<p>AMOLED</p>
</div>

<div class="category" data-category="animals">
🐱
<p>الحيوانات</p>
</div>

<div class="category" data-category="anime">
🌀
<p>الأنمي</p>
</div>

<div class="category" data-category="city">
🏙️
<p>المدن</p>
</div>

<div class="category" data-category="dark">
🖤
<p>Dark</p>
</div>

<div class="category" data-category="4k">
💎
<p>4K</p>
</div>

<div class="category" data-category="sports">
⚽
<p>رياضة</p>
</div>

<div class="category" data-category="minimal">
✨
<p>Minimal</p>
</div>

</div>

</section>